$darkTheme: #212a44;
$lightTheme: #f4f7fa;
$darkLight: #323d5d;
$primary-color: #323d5d;

$theme-color:  #f4f7fa;
$Menu-width: 264px;
$Menu-collapsed-width: 160px;
$header-height: 70px;
$theme-color: #166cca;
$theme-color2: #d40000;
