#responsive-navbar-nav {
  display: flex;
  justify-content: flex-end;
}

nav.fixed-top {
  padding: 14px;

  .mr-auto.navbar-nav {
    justify-content: flex-end;
    margin: unset !important;
  }
}

.navbar-nav a {
  color: white;
  margin: 0 20px;
  padding: 0 20px;
}
