p.form-error {
  background: #db050561;
  display: block;
  text-align: left;
  color: #fff;
  padding: 0 10px;
  margin: 4px 0;
}
#response-error {
  background: #db050561;
  display: block;
  color: #fff;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
